<section class="container">
  <form class="form">
      <h2 class="form__title">Nova Transferência</h2>
      <div class="form-field">
        <label class="form-field__label" for="valor">Valor:</label>
        <input class="form-field__input" id="valor" type="text">
      </div>
      <div class="form-field">
        <label class="form-field__label" for="destino">Destino:</label>
        <input class="form-field__input" id="valor" type="text">
      </div>
      <div class="btn-wrapper">
        <button class="btn">Transferir</button>
      </div>
  </form>
</section>
